@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

img {
    width: 100%;
}

p {

    font-size: 16px;
    color: var(--ash);
    font-weight: 400;
    line-height: 24px;
}

input, select {
    border: none;
    box-shadow: none;
    outline: none;
}

input:active,
input:focus,
input:focus-visible {
    border: none;
    box-shadow: none;
    outline: none;
}

button:active,
button:focus,
button:focus-visible {
    border: none;
    box-shadow: none;
    outline: none;
}

button {
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

:root {
    --ash: #7b7b7b;
    --orange: #E6533C;
}

body {
    background: #000;
    color: white;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* hero */
#hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(33, 33, 33) 100%);
}

#hero header {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

header h3 {
    color: var(--orange);
    font-style: italic;
    font-weight: 800;
    font-size: 35px;
}

header ul {
    border: 1px solid #333;
    border-radius: 50px;
    padding: 2px;
    display: flex;
    gap: 20px;
}

header li {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 50px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    transition: ease-in .4s;
}

header li:hover {
    border: 1px solid var(--orange);
    background-color: var(--orange);
    transition: ease-in .4s;
}

.hero-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left-hero {
    place-content: center;
}

.hero-body h1 {
    font-weight: 900;
    font-size: 75px;
    line-height: 113%;
}

.hero-body h1 .cursive {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 300;
    font-size: 122px !important;
    line-height: 10px;
}

.hero-body p {
    margin: 30px 0;
}

.btn1 {
    background: var(--orange);
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.7px;
    color: #fff;
    transition: ease-in .2s;
}
.hero-body .btn1{
    margin-right: 15px;
}
.btn1:hover {
    background: #fff;
    color: var(--orange);
    transition: ease-in .2s;
}

.btn2 {
    background: transparent;
    padding: 15px 30px;
    border-radius: 50px;
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.7px;
    color: #fff;
    transition: ease-in .2s;
}

.btn2:hover {
    background: #fff;
    color: var(--orange);
    transition: ease-in .2s;

}

.right-hero {
    text-align: center;
    position: relative;
}

.right-hero img {
    width: 60%;
}

.bottom-left {
    display: grid;
    width: 30%;
    grid-template-columns: 30% 70%;
    background: #3838385d;
    position: absolute;
    border: 1px solid #5454545d;
    bottom: 10%;
    left: 3%;
    padding: 25px;
    border-radius: 15px;
    align-items: center;
}

.right-text {
    text-align: left;
}

.right-text h3 {
    font-size: 25px;
    font-weight: 700;
}

.right-text h4 {
    font-size: 14px;
    font-weight: 400;
    color: #b3b3b3;
}

.top-right {
    width: 30%;
    background: #3838385d;
    position: absolute;
    border: 1px solid #5454545d;
    top: 20%;
    right: 5%;
    padding: 25px;
    border-radius: 15px;
    align-items: center;
}

.top-right {
    text-align: left;
}

.top-right h3 {
    font-size: 35px;
    font-weight: 700;
}

.top-right h4 {
    font-size: 14px;
    font-weight: 400;
    color: #888888;
}

/* change your habits */
#habit {
    padding: 100px 0;
}

.habit-text {
    text-align: center;
}

.habit-text h3 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 15px;
}

.habit-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 20px;
}
.habit-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.habit-box img{
    border-radius: 50%;
    border: 5px solid #222;
    width: 80%;
}
.habit-box h4{
    font-size: 20px;
    font-weight: 600;
}

/* run extra */
.extra{
    background: #222222;
    padding: 40px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
}
.extra h2{
    font-size: 55px;
    font-weight: 800;
}
.extra p{
    margin: 25px 0;
}
.extra .btn1{
    padding: 15px 60px;
}
.extra-img{
    text-align: end;
    place-content: center;
}
.extra-img img{
    width: 80%;
    object-fit: none;
    object-position: -730px -175px;
    height: -webkit-fill-available;
    border-radius: 15px;
}

/* Trainings and Exercises */
#train{
    margin: 100px 0;
}
.training-text h2{
    font-size: 50px;
    font-weight: 800;
}
.training-text p{
    margin: 20px 0;
}
.training-gallery-one {
    display: grid;
    grid-template-columns: 25% 49% 26%;
}
.training-gallery-one img{
    height: 250px;
    object-fit: cover;
    margin-bottom: -4px;
}
.training-gallery-two {
    display: grid;
    grid-template-columns: 45% 25% 30%;
}
.training-gallery-two img{
    height: 250px;
    object-fit: cover;
    margin-bottom: -4px;
}
.train-rel1{
    position: relative;
}
.train-abs1{
    position: absolute;
    background: #06ffd151;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: end;
}
.train-inner1{
    padding: 30px;
}
.train-inner1 h4{
    color: #000;
}
.train-rel2{
    position: relative;
}
.train-abs2{
    position: absolute;
    background: #ff000031;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
}
.train-inner2{
    padding: 30px;
}
.train-inner2 h4{
    color: #fff;
}
.train-rel3{
    position: relative;
}
.train-abs3{
    position: absolute;
    background: #00000050;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: end;
}
.train-inner3{
    padding: 30px;
}
.train-inner3 h4{
    color: #fff;
}
.train-rel4{
    position: relative;
}
.train-abs4{
    position: absolute;
    background: #00000050;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: end;
}
.train-inner4{
    padding: 30px;
}
.train-inner4 h4{
    color: #fff;
}
.train-rel5{
    position: relative;
}
.train-abs5{
    position: absolute;
    background: #42FF0030;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: end;
}
.train-inner5{
    padding: 30px;
}
.train-inner5 h4{
    color: #fff;
}
.train-rel6{
    position: relative;
}
.train-abs6{
    position: absolute;
    background: #0047FF30;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: end;
}
.train-inner6{
    padding: 30px;
}
.train-inner6 h4{
    color: #fff;
}

/* BMI Calculator */
.bmi-text{
    text-align: center;
    margin: 100px 0;
}
.bmi-text h2{
    font-size: 50px;
    font-weight: 800;
}
.calculator{
    background: #222222;
    padding: 50px 0;
}
.cal-grid{
    display: grid;
    grid-template-columns: 45% 55%;
}
.left-cal h4{
    font-size: 30px;
    margin-bottom: 40px;
}
.left-cal table,td,th{
    border: 1px solid var(--ash);
    border-collapse: collapse;
    padding: 15px 20px;
    text-align: left;
    color: #fff;
}
.left-cal td{
    color: var(--ash);
}
.right-cal h4{
    font-size: 30px;
}
.right-cal p{
    margin-bottom: 40px;
    margin-top: 20px;
}
.right-cal .input{

    background: #ffffff10;
    padding: 15px;
    border-radius: 10px;
    color: var(--ash);
}
.grid-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 15px;
}
.full{
grid-column: 1/3;
}
/* Meet Our Team */
#team{
    margin: 100px 0;
}
.team-box{
    text-align: center;
}
.team-box h2{
    font-size: 50px;
}
.team-box p{
    margin: 30px 0;
}
.team-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 15px;
    padding: 15px;
    background: #222;
}
.trainer img{
    border-radius: 15px;
    height: 300px;
    object-fit: cover;
}
.trainer{
    position: relative;
}
.trainer-text{
    position: absolute;
    bottom: 10%;
    left: 10%;
}
.trainer-text p{
    color: #aaaaaa;
}

/* blog */
#blog{
    margin: 100px 0;
}
.blog-text{
    text-align: center;
}
.blog-text h2{
    font-size: 50px;
}
.blog-text p{
    margin: 30px 0;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.blog-single{
    background: #333;
    padding: 25px;
    border-radius: 15px;

}
.blog-single img{
    border-radius: 15px;
    height: 200px;
    object-fit: cover;
}
.blog-single h3{
    font-size: 20px;
    margin-top: 10px;
}
.blog-single h6{
    color: #969696;
}
.blog-single p{
    margin: 15px 0;
}
.blog-single button{
    padding: 10px 20px;
    background: var(--orange);
    color: #fff;
    border-radius: 50px;

}
/* footer */
footer{
background: #ffffff10;
}
.foot-div{
    display: grid;
    grid-template-columns: 50% 24% 24%;
    padding: 50px 0;
    gap: 2%;
}
.logo-footer h3{
    color: var(--orange);
    font-style: italic;
    font-weight: 900;
    font-size: 55px;
    margin-bottom: 20px;
}
.footer-rest h4{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-rest li{
    font-size: 18px;
    color: var(--ash);
    font-weight: 400;
    line-height: 35px;
}
footer hr{
    border: 1px solid #4e4e4e;
}
.copy{
    padding: 25px 0;
    text-align: center;
}